button {
    position: absolute;
    left: 50%;
    margin-left: -65px;
    top: 50px;
    border: 1px solid red;
}

td {
    border: 2px solid rgb(20, 16, 16);
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: Verdana;
    font-style: italic;
    font-size: 70px;
    cursor: pointer;
}

table {
    position: absolute;
    left: 40%;
    top: 100px;
    border-collapse: collapse;
}

/* .EndGame {
    display: none;
    width: 200px;
    height: 120px;
    background-color: brown;
    position: absolute;
    left: 40%;
    top: 180px;
    margin-left: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 30px;
} */